/* SUMMARY 

CSS DOCUMENT

1. Cards Sessions

	1.a Panelists Session's 

	1.b Sponsors logo's 

 	Note : the class many_logo actually represents: severals sponsors logo's in 1 card

*/ 

/* ---------------------------------------------------
                    1. CARD SESSION
----------------------------------------------------- */

.card 
{
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* ---------------------------------------------------
                 1.a Panelists Session's 
----------------------------------------------------- */



.intervenant_img
{

  height: auto;
  border-radius: 50%;
  width: 30%;
  padding: 10px;
  overflow: hidden;
  transition: transform .2s; /* Animation */  

}

.intervenant_img:hover 
{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 

/* ---------------------------------------------------
                  1.b Sponsors logo's 
----------------------------------------------------- */


.sponsor_logo 
{
	width: 200px;
	vertical-align: middle;
}

#intel
{
	margin-top: 95px; 
}

#jalios
{
	margin-top: 105px;

}

#microsoft
{
	margin-top: 110px;
}


.many_logo 
{
	margin-top: 80px;
	margin-left: 15px;
	display: block;
	width: 150px;

}

