/* SUMMARY 

CSS DOCUMENT

1. Cards Sessions

	1.a Panelists Session's 

	1.b Sponsors logo's 

	1.c Panelists names'

 	Note : the class many_logo actually represents: severals sponsors logo's in 1 card

*/



/* ---------------------------------------------------
                    1. CARD SESSION
----------------------------------------------------- */

.card 
{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 10px rounded corners */

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* ---------------------------------------------------
                 1.a Panelists Session's 
----------------------------------------------------- */


.intervenant_img /* Désigne les images des 3 premières cards*/ 
{

  height: auto;
  border-radius: 50%;
  width: 30%;
  padding: 10px;
  overflow: hidden;
  transition: transform .2s; /* Animation */  
}


.intervenant_img:hover 
{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 
 

.top-three /* Désigne les premières images de la 4ème card */
{
  margin: 26px 26px 26px 26px;
  border-radius: 50%;
  width: 20%;
  overflow: hidden;
  transition: transform .2s; /* Animation */  
}



.top-three:hover 
{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 
 


.complicated /* Désigne les 2 dernières images de la 4ème card */ 
{
	border-radius: 50%;
  	width: 20%;
	margin: 20px 50px 20px 50px;
	/* Top, Right, Bottom, Left */ 
	transition: transform .2s;
} 

#fifth-one /* Désigne l'image n°5 de la 4ème card */ 
{
	margin: 20px 15px 20px 50px;
	/*Top, Right, Bottom, Left */ 
}


.complicated:hover
{
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





/* ---------------------------------------------------
                  1.b Sponsors logo's 
----------------------------------------------------- */


.sponsor_logo 
{
	width: 200px;
	vertical-align: middle;
	justify-content: center;
	margin-left: 10px;
	object-fit: contain;
}

#intel
{
	margin-top: 95px; 
}

#jalios
{
	margin-top: 105px;

}

#microsoft
{
	margin-top: 110px;
}



.many_logo 
{
   margin-top: 80px;
   margin-left: 15px;
   display: block;
   width: 150px;
   object-fit: contain;

}

#appscho

{
	margin-top: 100px;
}




.fourth-one
{
	text-align: center;
}


/* ---------------------------------------------------
                  1.c Panelists names'
----------------------------------------------------- */


table /* Désigne tous tableaux pour positionner les prénoms et noms des intervenants (sauf dernière card) */ 
{
	border-spacing : 10px;
	border-collapse: collapse;
	width: 100%;
}

td /* cellules du tableaux contenant le texte (prénom & noms) */ 
{
	align-content: center;
}

#short_name
{
	margin: 10px 0px 10px 23px;
	/*Top, Right, Bottom, Left */ 
}


.dernier /* Désigne le tableau de la dernière card pour les noms et prénoms*/ 
{
	width: 100%;
}

#last /* désigne les deux images de la dernière card */ 
{
   	margin: 15px 25px 15px 25px;
	width: 30%;
}

.names /* réajustement des noms et prénoms de la dernière card */ 
{
	width: 30%;
}